body{
    font-family: 'Courier New', Courier, monospace;
}
.site-heading-lower{
    font-family: 'Courier New', Courier, monospace;
}
.mb-3{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(225, 114, 193, 0.687) !important;
}
.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}